/* src/components/NexusSearch.css */

.nexus-sidebar {
  width: 20%;
  padding: 10px;
  background-color: #C9A58A; /* Updated color for sidebar */
}

.course-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.previous-results {
  margin-top: 20px;
}

.result-placeholder {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.result-placeholder:hover {
  background-color: #e0e0e0;
}

.nexus-search-container {
  display: flex;
  height: 100vh;
}

.nexus-chat-window {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-left: 1px solid #ddd;
}

.nexus-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.nexus-message {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
}

.user-message {
  background-color: #e0f7fa;
  align-self: flex-end;
}

.ai-message {
  background-color: #f1f8e9;
  align-self: flex-start;
}

.summary-message {
  width: 100%;
}

.nexus-input-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.nexus-input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.nexus-send-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #105766;
  color: white;
  border: none;
  border-radius: 5px;
}

.nexus-send-button:hover {
  background-color: #76A1A7;
}
